{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_message_send' %}
{% block content %}
    <h4>{{ 'bm.push_message.send' | trans }}</h4>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/pushMessageForm.js') }}"></script>
{% endblock %}