{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_subscription_settings' %}

{% block content %}
    <h3>{{ 'bm.push_message.cannot_upload_image' | trans }}</h3>
{% endblock %}