{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_subscription_settings' %}

{% block content %}
    <h4>{{ 'bm.push_subscriptions.submodules.settings' | trans }}</h4>

    <a class="button" href="{{ path('bm_pushsubscription_settings') }}">{{ 'bm.push' }}</a>

{% endblock %}
