{% extends 'layout.html.twig' %}

{% block content %}
    <h4>{{ 'bm.push_subscriptions.submodules.settings' | trans }}</h4>

    <a class="button" href="{{ path('bm_pushsubscription_settings') }}">{{ 'bm.push' }}</a>

{% endblock %}
