<!DOCTYPE html>
<html>
<head>
    <title>brandManager</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/login.css') }}">
</head>
<body>
{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
</body>
</html>

