{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_notification_schedule_index' %}

{% block content     %}
    <h4>{{ 'bm.push_notification_schedule.list' | trans }}</h4>

    <div class="row">
        <a class="button" href="{{ path('bm_pushnotificationschedule_new') }}">{{ 'bm.global.add' | trans }}</a>
    </div>

{% endblock %}
