{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_notification_schedule_list' %}


{% block content %}
    <h4>{{ 'bm.push_notification_schedule.new' | trans }}</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
